<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminSet Make Ops Simple</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%include file="link_css.html"/>
    <%include file="head_script.html"/>
    <%block name="self_head_css_js"></%block>
  <script>
    $(document).ready(function(){
    $('.loading').fadeOut();
     });
  </script>
</head>

    <body class="hold-transition skin-yellow-light sidebar-collapse sidebar-mini">
        <div class="loading"></div>
        <div class="wrapper">

            <%include file="navi/navi-header.html"/>

            <script type="text/javascript">
                $('.loading').animate({'width':'10%'},50);  //第一个进度节点
            </script>
            <!-- Left side column. contains the logo and sidebar -->
            <%include file="main-sidebar.html"/>

            <script type="text/javascript">
                $('.loading').animate({'width':'25%'},50);  //第一个进度节点
            </script>
            <!-- Content Wrapper. Contains page content -->

            <%block name="content"></%block>

            <script type="text/javascript">
                $('.loading').animate({'width':'60%'},50);  //第一个进度节点
            </script>

            <%include file="footer.html"/>

            <script type="text/javascript">
                $('.loading').animate({'width':'100%'},50);  //第一个进度节点
            </script>

            <%include file="control-sidebar.html"/>

            <div class="control-sidebar-bg"></div>
        </div>
    </body>
        <%block name="self_footer_js"></%block>
</html>