<ul class="nav navbar-nav side-nav">
    <li class="active">
        <a href="/"><i class="fa fa-fw fa-dashboard"></i> 首页</a>
    </li>
    <li>
        <a href="/nonobank_monitor/tables"><i class="fa fa-fw fa-table"></i> 表格</a>
    </li>
    <li>
        <a href="/nonobank_monitor/forms"><i class="fa fa-fw fa-edit"></i> 表单</a>
    </li>
    <li>
        <a href="/nonobank_monitor/bootstrap"><i class="fa fa-fw fa-wrench"></i> Bootstrap 布局</a>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> 下拉菜单 <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li>
                <a href="javascript:;">子菜单1 </a>
            </li>
            <li>
                <a href="javascript:;">子菜单2</a>
            </li>
        </ul>
    </li>
</ul>